@charset "UTF-8";

body{
    background-color: rgb(43, 50, 59);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
 }
 
 h1{
    color: rgb(35, 35, 125);
    background-color: rgb(0, 0, 0);
 }

 h2{
    color: rgb(157, 108, 182);
 }
p{
    color: aliceblue;
}

a{
    color: rgb(109, 141, 169);
}